body {
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
}

input[type="text"] {
  padding: 8px;
  margin-top: 6px;
}

input[type="submit"] {
  padding: 4px 8px;
  margin-top: 6px;
}

h1 {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a b" "a b";
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}
